/*
This sheet is used for assigning each and every styles and fonts used in the game. 
The multimedia we have used has been referenced below: 
The sounds have been taken from: 
1.https://www.zapsplat.com/sound-effect-category/game-sounds/
2.https://www.youtube.com/watch?v=PMENdpCGF3U&list=LL&index=5
Font from- https://www.fontspace.com/closet-dwellers-font-f29769
*/

@font-face {
    font-family: headfont;
    src: url(multimedia/font.ttf);
}

h1 {
	text-align: center;
	font-size: 70px;
	letter-spacing: 3px;
	font-family: headfont/*'Gill Sans MT', sans-serif*/;
	color: #ffffff;
	font-weight: bolder;
}

#login {
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
	font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #fdfdfd;
	font-weight: bold;
}

#instructions {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
	padding: 20px 0; 
	font-size: 20px;
	letter-spacing: 3px;
	color: #e4f2f8;      
	font-weight: bold;
} 
/*
'https://www.freepik.com/photos/background'>Background photo created by kdekiara - www.freepik.com
*/
body {
	margin: 0;
	background-image: url(multimedia/water-index.jpg);
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat; 
   	background-size: cover;
}

span {
  	padding: 100px;
}

#score {
	padding: 20px;
	font-family: headfont; 
	text-align: center;
	font-size: 20px;
	color: #047ac9;      
	font-weight: bold;
}


#playArea { 
	padding: 250px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 800px;
	height: 100px;
    border: 20px solid rgb(255, 255, 255);
    overflow: hidden;
}

#submit, #join {
	color: rgb(17, 17, 17);  
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
	letter-spacing: 3px;
	font-size: 20px;
	background-color: rgb(0, 183, 255);
	text-align: center;
	font-weight: bold;
	position: relative;
	margin: 10px;
	left : 500px;
}


#ScoreDetails{
	background-color: rgb(221, 235, 241);
	width: 200px;
	padding: 2px;
	position: relative;
	bottom : 221px;
	border: 5px solid rgb(60, 210, 236);
}

#leaderboard {
    background-color:deepskyblue;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
	font-size: 25px;
	width: 200px;
	padding: 10px;
	position: relative;
	left : 550px;
	color : rgb(17, 17, 17);
	font-weight: bold; 
}
@keyframes animateBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.animate-area	{ 
   	background-position: center center;
   	background-size: cover;
   	height: 500px;
   	width: 500px; 
	background-image: url(multimedia/water.jpg);
	background-repeat: repeat;
    animation: animateBackground 4s linear infinite;
}

/*reference- https://www.freepik.com/vectors/water Water vector created by macrovector - www.freepik.com */

#racer {
	background-image: url(multimedia/racer.png);
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
	width: 300px;
	bottom: -70px;
	right: 250px;
	display: block;
	position: absolute;
    
}

/*reference- https://www.freepik.com/vectors/background'>Background vector created by brgfx - www.freepik.com */
#obstacles {
	background-image: url(multimedia/obstacle.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 200px;
    display: block;
    position: absolute;
    bottom: 100px;
	left: 500px;	
}

/*reference- https://pngtree.com/freepng/cartoon-coin_161124.html
#coin{
	background-image: url(multimedia/coin.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 130px;
	width: 220px;
    display: block;
    position: absolute;
    bottom: 50px;
	left: 500px;
}

/*reference- https://www.iconfinder.com/icons/2329874/container_petrol_canister_jerrycan_fuel_gallon_cartoon_icon
#fuel{
	background-image: url(multimedia/fueltoken.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 200px;
    display: block;
    position: absolute;
    bottom: 100px;
	left: 250px;
}




