/*
This file is used for assigning styles for attributes used in the game. 
The multimedia we have used has been referenced below in the document.

The sounds have been taken from: 
1.https://www.zapsplat.com/sound-effect-category/game-sounds/
2.https://www.youtube.com/watch?v=PMENdpCGF3U&list=LL&index=5
*/

/*Font from- https://www.fontspace.com/closet-dwellers-font-f29769*/
@font-face {
    font-family: headfont;
    src: url(multimedia/font.ttf);
}

/*Font from- https://fonts2u.com/colourbars-bold2.font*/
@font-face {
    font-family: scorefont;
    src: url(multimedia/scorefont.otf);
}


/*Used to animate background of playArea*/
@keyframes animateBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.animate-area	{ 
   	background-position: center center;
   	background-size: cover;
   	height: 1000px;
   	width: 1200px; 
	background-image: url(multimedia/water.jpg);
	background-repeat: repeat;
	animation: animateBackground 4s linear infinite;
	position: absolute;
}



/*To set the style of the heading element of id- h1*/
h1 {
	text-align: center;
	font-size: 68px;
	letter-spacing: 3px;
	font-family: headfont;
	color: #ffffff;
	font-weight: bolder;
}

/*To set the style of the element of id- login*/
#login {
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
	font-family:  scorefont;
	color: #fdfdfd;
	font-weight: bolder;
	border: 10px solid rgb(255, 255, 255);
}

/*To set the style of the element of id- instructions*/
#instructions {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
	padding: 50px 0; 
	font-size: 20px;
	letter-spacing: 3px;
	color: #e4f2f8;    
	display:block;  
	text-align: center;
	font-weight: bold;
	top: 50px ;
	left: 750px ;
} 

/*
To set the style of the element of the body element
Background image from- 'https://www.freepik.com/photos/background'>Background photo created by kdekiara - www.freepik.com
*/
body {
	margin: 0;
	background-image: url(multimedia/water-index.jpg);
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat; 
   	background-size: cover;
}

/*To set the style of the span elements*/
span {
  	padding: 100px;
}

/*To set the style of the elements of ids- score and scoretext*/
#score, #scoretext{
	padding: 20px;
	font-family: scorefont; 
	text-align: center;
	font-size: 30px;
	color: #047ac9;      
	font-weight: bold;
}

/*To set the style of the element of id- playArea*/
#playArea {
	position: relative;
	padding: 100px 100px;
	border: 20px solid rgb(255, 255, 255);
    height: 1000px;
    width: 1200px;
    align-content: center;
	align-self: center;
	overflow: hidden;
	margin-left: auto;
    margin-right: auto;
}

/*To set the style of the element of id- submit*/
#submit {
	color: rgb(17, 17, 17);  
	font-family: scorefont ;
	letter-spacing: 3px;
	font-size: 20px;
	background-color: rgb(0, 183, 255);
	text-align: center;
	font-weight: bold;
	position: absolute ;
	margin: 10px;
	left : 1000px;
}

/*To set the style of the element of id- join*/
#join {
	color: rgb(17, 17, 17);  
	font-family: headfont ;
	letter-spacing: 3px;
	font-size: 20px;
	background-color: rgb(0, 183, 255);
	text-align: center;
	font-weight: bold;
	position: absolute ;
	margin: 10px;
	left : 500px;
}

/*To set the style of the element of id- ScoreDetails*/
#ScoreDetails{
	background-color: rgb(221, 235, 241);
	width: 800px;
	padding: 10px;
	position: absolute/*relative*/;
	bottom : 1130px;
	border: 5px solid rgb(60, 210, 236);
	left : 10px;
}

/*To set the style of the element of id- leaderboard*/
#leaderboard{
    background-color:deepskyblue;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
	font-size: 25px;
	width: 200px;
	padding: 10px;
	bottom : 100px;
	color : rgb(17, 17, 17);
	font-weight: bold; 	
	left:100px;	
}

/*To set the style of the element of id- Start*/
#Start {
	background-color:deepskyblue;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
	font-size: 25px;
	width: 200px;
	padding: 10px;
	position: absolute/*relative*/;
	left : 500px;
	bottom : 1070px;
	color : rgb(17, 17, 17);
	font-weight: bold; 
}

/*To set the style of the heading element of id- racer
reference to the image- https://www.freepik.com/vectors/water Water vector created by macrovector - www.freepik.com 
*/

#racer {
	background-image: url(multimedia/racer.png);
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
	width: 300px;
	bottom: 390px; 
	display: block;
	position: absolute;
    
}


/*To set the style of the heading element of id- obstacle
reference to the image- https://www.freepik.com/vectors/background'>Background vector created by brgfx - www.freepik.com 
*/

#obstacle {
	background-image: url(multimedia/obstacle.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 200px;
    display: block;
    position: absolute;
    bottom: 600px;
	left: 1000px;	
}

/*To set the style of the heading element of id- coin
reference to the image- https://pngtree.com/freepng/cartoon-coin_161124.html
*/
#coin{
	background-image: url(multimedia/coin.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 150px;
	width: 220px;
    display: block;
    position: absolute;
    bottom: 620px;
	left: 1000px;
}

/*To set the style of the heading element of id- fuel
reference to the image- https://www.iconfinder.com/icons/2329874/container_petrol_canister_jerrycan_fuel_gallon_cartoon_icon
*/
#fuel{
	background-image: url(multimedia/fueltoken.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 200px;
    display: block;
    position: absolute;
    bottom: 620px;
	left: 1000px;
}
/*-------------------------------------------------------------*/
/*
#racer1 {
	background-image: url(multimedia/racer.png);
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
	width: 300px;
	bottom: 100px; 
	display: block;
	position: absolute;
    
} */

#obstacle1 {
	background-image: url(multimedia/obstacle.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 200px;
    display: block;
    position: absolute;
    bottom: 300px;
	left: 1000px;	
}

/*To set the style of the heading element of id- coin
reference to the image- https://pngtree.com/freepng/cartoon-coin_161124.html
*/
#coin1{
	background-image: url(multimedia/coin.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 150px;
	width: 220px;
    display: block;
    position: absolute;
    bottom: 320px;
	left: 1000px;
}

/*To set the style of the heading element of id- fuel
reference to the image- https://www.iconfinder.com/icons/2329874/container_petrol_canister_jerrycan_fuel_gallon_cartoon_icon
*/
#fuel1{
	background-image: url(multimedia/fueltoken.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 200px;
    display: block;
    position: absolute;
    bottom: 320px;
	left: 1000px;
}

/*To set the style of the elements of ids- score and scoretext
#score1, #scoretext1{
	padding: 20px;
	font-family: scorefont; 
	text-align: center;
	font-size: 30px;
	color: #047ac9;      
	font-weight: bold; */
}
/*-------------------------------------------------------------*/
/*
#racer2 {
	background-image: url(multimedia/racer.png);
    background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
	width: 300px;
	bottom: 570px; 
	display: block;
	position: absolute;
    
}
*/
#obstacle2 {
	background-image: url(multimedia/obstacle.png);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 200px;
    display: block;
    position: absolute;
    bottom: 770px;
	left: 1000px;	
}

/*To set the style of the heading element of id- coin
reference to the image- https://pngtree.com/freepng/cartoon-coin_161124.html
*/
#coin2{
	background-image: url(multimedia/coin.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 150px;
	width: 220px;
    display: block;
    position: absolute;
    bottom: 790px;
	left: 1000px;
}

/*To set the style of the heading element of id- fuel
reference to the image- https://www.iconfinder.com/icons/2329874/container_petrol_canister_jerrycan_fuel_gallon_cartoon_icon
*/
#fuel2{
	background-image: url(multimedia/fueltoken.png);
	background-position: center center;
    background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	width: 200px;
    display: block;
    position: absolute;
    bottom: 790px;
	left: 1000px;
}

/*To set the style of the elements of ids- score and scoretext
#score2, #scoretext2{
	padding: 20px;
	font-family: scorefont; 
	text-align: center;
	font-size: 30px;
	color: #047ac9;      
	font-weight: bold;
}
#scoresdiv{
	padding: 20px;
	font-family: scorefont; 
	text-align: center;
	font-size: 30px;
	color: #047ac9;      
	font-weight: bold;
}

*/
