/*
This sheet is used for assigning each and evry styles and fonts used in the game. 
The multimedia we have used has been referenced below: 

The sounds have been taken from: 
1.https://www.zapsplat.com/sound-effect-category/game-sounds/
2.https://www.youtube.com/watch?v=PMENdpCGF3U&list=LL&index=5
*/
h1{
  text-align: center;
  font-size: 60px;
  letter-spacing: 4px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: bold;
}
p{
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: normal;
}
button{
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: normal;
}
#login {
  text-align: center;
  font-size: 60px; 
  letter-spacing: 2px; 
  font-family: 'Times New Roman', Times, serif;
  color: #ff0000;
  font-weight: bold; 
  
}
